h1{ color: white;font-size: 50px;font-style: initial;text-align: center;background-color: black;}
h2{ color:black;background-color: black ;border: solid 8px greenyellow;}
.heading{
    font: size 8px;
    color: beige;
}
.Atif{ 
font: 8px;
color: beige;

 }
 .saleem{ 
    font: 8px;
    color: beige;
 }